<footer class="p-2">
    <p  id="sidep">Creating the Very Best in Fashion</p>
    <div class="divider"></div>

    <div class="container mt-5">
        <div class="footer">
            <div class="footer1">
                <h2>Contact</h2>
                <li><a href="#">infomysite.com</a></li>
                <li><a href="#">Tel: 123-456-7890</a></li>
                <li><a href="#">500 Terry Francine St.</a></li>
                <li><a href="#">San Francisco, CA 94158</a></li>
            </div>
            <div class="footer-second">
                <h2 id="special">Subscribe for News and Updates</h2>
                <form class="" role="search">
                    <p>Enter your email here*</p>
                    <input class="form-control me-2" type="search" placeholder="Email" aria-label="Email">
                    <br>
                    <button class="btn btn-main" type="submit">Subscribe</button>
                </form>
            </div>
            <div class="footer1">
                <h2>Menu</h2>
                <li><a href="#">Fashon</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
            </div>
            <div class="footer1">
                <h2>Social</h2>
                <li><a href="#">Discord</a></li>
                <li><a href="#">Twitch</a></li>
                <li><a href="#">YouTube</a></li>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">LinkedIn</a></li>
            </div>
        </div>
        <hr>
        <div class="copy">
            <section>
                &copy; 2024
            </section>
        </div>
    </div>
</footer>
